@charset "UTF-8";
html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,fieldset,legend,input,button,textarea,hr,pre,code,p,blockquote,th,td{margin:0;padding:0;}
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
fieldset,img{border:none;}
ul,ol{list-style:none;}
a,ins{text-decoration:none;}
[hidden]{display:none;}
:focus{outline:none;}
article,aside,details,figcaption,figure,footer,header,main,nav,section,summary{display:block;}

address,caption,cite,code,dfn,em,th,var,optgroup{font-style:normal;font-weight:normal;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
abbr{border:0;font-variant:normal;}
input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}
code,kbd,samp,tt{font-size:100%;}
input,button,textarea,select{*font-size:100%;}
ol,ul{list-style:none;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;}
sup,sub{font-size:100%;vertical-align:baseline;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';}

.cf {
    *zoom:1;
}
.cf:before , .cf:after {
    content:"";display:table;
}
.cf:after {
    clear:both;overflow:hidden;
}

.left {float: left;}
.right {float: right;}

.ib {display:inline-block;*display:inline;*zoom:1;}
.wp {width: 980px; margin:0 auto;}

a {color: #778087; text-decoration: none;}
a:hover {color:#4d5256; text-decoration: underline;}

body {background-color: #e2e2e2;}
.header a {color: #4d5256;}
.header a:hover {color: #778087; text-decoration: none;}

.header {height: 50px; margin-bottom:20px;
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.22);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

.header-left {float: left;}
.header-right {float: right;}

.content {
    float: left; width:680px; min-height:400px;
    padding-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
}

.sides {
    float: right; width: 280px;
}
.sides .side {
    width: 100%; min-height:200px; margin-bottom: 20px;background: #fff;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
}

.footer {
    height: 30px; background-color: #fff; margin-top:10px;
}