.cf {
  *zoom: 1; }
  .cf:before, .cf:after {
    content: "";
    display: table; }
  .cf:after {
    clear: both;
    overflow: hidden; }

audio, canvas, video, .tj .b, .tj:after, .tj .l {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle; }

.imge {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
  font-size: 12px;
  font-size: 1rem;
  line-height: normal; }

.imgc {
  font-size: 0;
  _line-height: 0;
  text-align: center;
  overflow: hidden; }
  .imgc:before, .imgc .iecp {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle; }
  .imgc:before, .imgc .iecp {
    content: "";
    height: 100%;
    font-size: 0;
    line-height: 0;
    width: 0; }
  .imgc img {
    max-width: 100%;
    max-height: 100%; }

html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, legend, input, button, textarea, hr, pre, code, p, blockquote, th, td {
  margin: 0;
  padding: 0; }

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

fieldset, img {
  border: none; }

ul, ol {
  list-style: none; }

a, ins {
  text-decoration: none; }

[hidden] {
  display: none; }

:focus {
  outline: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

address, caption, cite, code, dfn, em, th, var, optgroup {
  font-style: normal;
  font-weight: normal; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

abbr {
  border: 0;
  font-variant: normal; }

input, button, textarea, select, optgroup, option {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit; }

code, kbd, samp, tt {
  font-size: 100%; }

input, button, textarea, select {
  *font-size: 100%; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th {
  text-align: left; }

sup, sub {
  font-size: 100%;
  vertical-align: baseline; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

html, body {
  font: 12px/1.5 tahoma,arial,'\5b8b\4f53';
  background: #fff; }

.tj {
  text-align: justify;
  text-justify: distribute-all-lines; }
  .tj .b {
    vertical-align: top; }
  .tj:after, .tj .l {
    height: 0;
    overflow: hidden;
    float: none;
    line-height: 0;
    padding: 0;
    border: 0; }
  .tj:after {
    content: '';
    width: 100%; }

.header {
  height: 50px;
  line-height: 50px;
  margin-bottom: 15px;
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.22);
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.15);
  font-size: 16px; }
  .header a {
    color: #4d5256; }
  .header a:hover {
    color: #778087;
    text-decoration: none; }
  .header .header-left {
    float: left; }
    .header .header-left .logo {
      display: inline-block;
      *display: inline;
      *zoom: 1;
      vertical-align: middle;
      margin-right: 20px;
      height: 100%;
      line-height: 100%;
      font-size: 36px;
      color: #4d5256; }
    .header .header-left .logo:hover {
      color: #4d5256; }
  .header .header-nav {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle; }
    .header .header-nav li {
      display: inline-block;
      *display: inline;
      *zoom: 1;
      vertical-align: middle;
      margin: 0 10px; }
  .header .header-right {
    float: right; }
    .header .header-right a {
      display: inline-block;
      *display: inline;
      *zoom: 1;
      vertical-align: middle;
      margin-left: 15px;
      font-size: 15px; }

.sides .avator {
  padding: 15px 15px 10px 15px; }
  .sides .avator img {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
    width: 60px;
    height: 60px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px; }
  .sides .avator .name {
    margin-left: 5px;
    font-size: 16px;
    color: #737373; }
.sides .intro {
  font-size: 13px;
  padding-left: 15px;
  padding-right: 15px;
  color: #878787; }
.sides .creation {
  *zoom: 1;
  margin-top: 10px;
  text-align: center; }
  .sides .creation:before, .sides .creation:after {
    content: "";
    display: table; }
  .sides .creation:after {
    clear: both;
    overflow: hidden; }
  .sides .creation a {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
    float: left;
    width: 139px;
    border-right: 1px solid #ccc; }
    .sides .creation a:last-child {
      width: 140px;
      border: none; }
    .sides .creation a:hover {
      color: #4d5256; }
  .sides .creation .number {
    display: block;
    font-size: 17px;
    color: #737373; }
  .sides .creation .info {
    display: block;
    font-size: 13px; }
.sides .setting {
  padding: 10px 0 10px 15px;
  font-size: 14px;
  line-height: 28px; }
.sides .latest p {
  color: #a1a1a1;
  height: 32px;
  line-height: 32px;
  border-bottom: 1px solid #ccc;
  font-size: 12px;
  padding-left: 15px; }
.sides .latest a {
  float: left;
  display: inline-block;
  width: 140px;
  height: 110px; }
  .sides .latest a img {
    width: 140px;
    height: 110px; }
.sides .latest .images {
  *zoom: 1; }
  .sides .latest .images:before, .sides .latest .images:after {
    content: "";
    display: table; }
  .sides .latest .images:after {
    clear: both;
    overflow: hidden; }
  .sides .latest .images a:nth-child(odd) {
    width: 139px;
    overflow: hidden;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
  .sides .latest .images a:nth-child(even) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); }

.footer {
  height: 100px;
  background-color: #fff;
  margin-top: 10px; }

.page {
  *zoom: 1;
  vertical-align: middle;
  margin: 15px 0;
  font-size: 12px;
  text-align: center;
  color: #878787; }
  .page:before, .page:after {
    content: "";
    display: table; }
  .page:after {
    clear: both;
    overflow: hidden; }
  .page a {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
    width: 30px;
    text-align: center; }
    .page a.prev {
      float: left;
      margin-left: 15px; }
    .page a.next {
      float: right;
      margin-right: 15px; }
    .page a i {
      font-size: 15px; }
  .page .info {
    height: 24px;
    line-height: 24px; }

.dropdown {
  position: relative; }

.dropdown-menu-content {
  display: none; }

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 100;
  width: 120px;
  margin-top: 2px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15); }
  .dropdown-menu:before {
    position: absolute;
    display: inline-block;
    content: "";
    border: 8px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.15); }
  .dropdown-menu:after {
    position: absolute;
    display: inline-block;
    content: "";
    border: 7px solid transparent;
    border-bottom-color: #fff; }

.dropdown-menu-sw {
  left: auto;
  right: 0;
  top: 43px; }
  .dropdown-menu-sw:before {
    top: -17px;
    left: auto;
    right: 8px; }
  .dropdown-menu-sw:after {
    top: -14px;
    left: auto;
    right: 9px; }

.dropdown-item {
  display: block;
  padding: 4px 10px 4px 15px;
  color: #333;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.4; }

.setting {
  font-size: 14px;
  color: #778087; }
  .setting .set-item {
    vertical-align: middle;
    margin-top: 20px; }
    .setting .set-item .label {
      display: inline-block;
      *display: inline;
      *zoom: 1;
      vertical-align: middle;
      width: 100px;
      margin-right: 20px;
      text-align: right; }
    .setting .set-item .input-item {
      display: inline-block;
      *display: inline;
      *zoom: 1;
      vertical-align: middle;
      max-width: 540px; }
  .setting .msg {
    padding: 10px 0 10px 15px;
    background-color: #fcf8e3;
    color: #8a6d3b; }
  .setting input[type="text"], .setting input[type="password"] {
    width: 500px;
    border-radius: 3px;
    padding: 5px;
    font-size: 14px;
    border: 1px solid #ccc; }
  .setting textarea {
    width: 500px;
    height: 100px;
    resize: none;
    border-radius: 3px;
    border: 1px solid #ccc;
    padding: 5px;
    font-size: 14px; }
  .setting input[type="file"] {
    display: none; }
  .setting .file-upload {
    max-width: 510px;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid #ccc; }
    .setting .file-upload .file-upload-cover {
      width: 510px;
      height: 80px;
      line-height: 80px;
      text-align: center;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
      color: #ccc; }
      .setting .file-upload .file-upload-cover .fa {
        font-size: 24px; }
    .setting .file-upload .image-view {
      font-size: 0;
      _line-height: 0;
      text-align: center;
      overflow: hidden; }
      .setting .file-upload .image-view:before, .setting .file-upload .image-view .iecp {
        display: inline-block;
        *display: inline;
        *zoom: 1;
        vertical-align: middle; }
      .setting .file-upload .image-view:before, .setting .file-upload .image-view .iecp {
        content: "";
        height: 100%;
        font-size: 0;
        line-height: 0;
        width: 0; }
      .setting .file-upload .image-view img {
        max-width: 100%;
        max-height: 100%; }
      .setting .file-upload .image-view img {
        display: inline-block;
        *display: inline;
        *zoom: 1;
        vertical-align: middle;
        font-size: 12px;
        font-size: 1rem;
        line-height: normal; }
  .setting .fa-toggle-off, .setting .fa-toggle-on {
    font-size: 24px;
    color: #878787;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none; }
  .setting .fa-toggle-on {
    color: #3f79ff; }

.left {
  float: left; }

.right {
  float: right; }

.wp {
  margin: 0 auto;
  width: 980px; }

a {
  color: #778087;
  text-decoration: none; }

a:hover {
  color: #4d5256; }

img {
  max-width: 100%;
  max-height: 100%; }

body {
  background-color: #e2e2e2;
  font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", "Microsoft Yahei", sans-serif; }

.btn {
  position: relative;
  display: inline-block;
  padding: 3px 15px;
  font-size: 12px;
  height: 20px;
  line-height: 20px;
  color: #778087;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-color: #eee;
  background-image: -webkit-linear-gradient(#fcfcfc, #eee);
  background-image: linear-gradient(#fcfcfc, #eee);
  border: 1px solid #ccc;
  border-radius: 3px; }
  .btn:hover {
    background-color: #dcdcdc;
    background-image: -webkit-linear-gradient(#f1f1f1, #dcdcdc);
    background-image: linear-gradient(#f1f1f1, #dcdcdc);
    border: 1px solid #bbb; }
  .btn:active {
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15);
    border-color: #bdbdbd;
    background-color: #bdbdbd; }

.content {
  float: left;
  width: 680px;
  padding-bottom: 20px;
  background-color: #fff;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.15);
  border-radius: 3px; }
  .content .content-nav {
    *zoom: 1;
    width: 100%;
    height: 48px;
    line-height: 48px;
    border-bottom: 1px solid #ccc;
    color: #778087; }
    .content .content-nav:before, .content .content-nav:after {
      content: "";
      display: table; }
    .content .content-nav:after {
      clear: both;
      overflow: hidden; }
    .content .content-nav .content-title {
      float: left;
      padding-left: 15px;
      font-size: 16px; }
    .content .content-nav .content-options {
      float: right;
      margin-right: 15px; }

.sides {
  float: right;
  width: 280px; }
  .sides .cell {
    border-bottom: 1px solid #ccc;
    padding-bottom: 8px; }
    .sides .cell:last-child {
      border: none; }
  .sides .side {
    width: 100%;
    margin-bottom: 15px;
    background: #fff;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.15);
    border-radius: 3px; }

.images {
  *zoom: 1; }
  .images:before, .images:after {
    content: "";
    display: table; }
  .images:after {
    clear: both;
    overflow: hidden; }
  .images .item {
    float: left; }
  .images .item:nth-child(odd) {
    overflow: hidden;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2); }
  .images .pic:nth-child(even) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2); }

.pictures {
  *zoom: 1; }
  .pictures:before, .pictures:after {
    content: "";
    display: table; }
  .pictures:after {
    clear: both;
    overflow: hidden; }
  .pictures .pic {
    float: left;
    width: 340px;
    height: 272px; }
    .pictures .pic img {
      width: 340px;
      height: 272px; }
  .pictures .pic:nth-child(odd) {
    width: 339px;
    overflow: hidden;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
  .pictures .pic:nth-child(even) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
