#set($layout = "layout/_index.vm")

<link rel="stylesheet" href="/css/albums.css" />


<div class="content">
	<div class="albums">
		#foreach($i in [1..10])
			<div class="album">
				<a class="cover" href="#"><img src="http://placehold.it/313x250/fff/ccc"/></a>
				<a class="title" href="#">图册名称</a>
			</div>
		#end
	</div>

</div>