#set($layout = "layout/_index.vm")

<link rel="stylesheet" href="/css/index.css" />

<div class="content">
	<div class="content-nav">
		<div class="content-title">
			<i class="fa fa-folder-open"></i> 所有作品
		</div>

	</div>
	<div class="pictures">
		#foreach($photo in $photos)
			<a class="pic" href="/item/${photo.id}"><img src="$photo.thumb"/></a>
		#end
	</div>
	#pager($photos)

</div>
