<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.wangjun.dao.UsersMapper">
  <resultMap id="BaseResultMap" type="top.wangjun.model.Users">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="pwd" jdbcType="VARCHAR" property="pwd" />
    <result column="avator" jdbcType="VARCHAR" property="avator" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="intro" jdbcType="VARCHAR" property="intro" />
    <result column="qq" jdbcType="VARCHAR" property="qq" />
    <result column="weixin" jdbcType="VARCHAR" property="weixin" />
    <result column="weibo" jdbcType="VARCHAR" property="weibo" />
    <result column="bilibili" jdbcType="VARCHAR" property="bilibili" />
    <result column="role" jdbcType="TINYINT" property="role" />
    <result column="active_code" jdbcType="VARCHAR" property="activeCode" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
</mapper>