<div class="header">
	<div class="wp cf">
		<div class="header-left">
			<a href="/" class="logo">WANGJUN</a>
			<ul class="header-nav">
				<li>
					<a href="/album">Album</a>
				</li>
			</ul>
		</div>
		<div class="header-right">
			#if($stringUtils.isNotBlank($user.weibo))
				<a href="http://weibo.com/u/${user.weibo}"><i class="fa fa-weibo"></i> 微博</a>
			#end
		</div>
	</div>
</div>