<div class="sides">
	<div class="side info">
		<div class="avator">
			<img src="$!user.avator"/>
			<span class="name">$formatUtils.html($user.nickname)</span>
		</div>
		<div class="intro cell">$formatUtils.html($user.intro)</div>
		<div class="creation cell">
			<a href="/">
				<span class="number">$photoCount</span>
				<span class="info">所有作品</span>
			</a>
			<a href="/album">
				<span class="number">$albumCount</span>
				<span class="info">图册集</span>
			</a>
		</div>
		<div class="setting cell">
			<a href="/upload">
				<i class="fa fa-upload"></i> 上传图片
			</a>

		</div>
		<div class="setting cell">
			<a href="/setting"><i class="fa fa-cog"></i> 设置</a>
		</div>
	</div>
	<div class="side latest cf">
		<p>最新作品</p>
		<div class="images">
			#foreach($photo in $lastPhotos)
				<a href="/item/$!{photo.id}"><img src="$!photo.thumb"/></a>
			#end
		</div>
	</div>
</div>